body {
    font-family: 'Roboto', sans-serif;
    background: url(../images/rm209-ning-06-a.jpg);
    background-attachment: inherit;
    background-position: center ;
    background-size: cover;
}

/* ul {
    list-style: none ;
} */

/* ul li::before {
    content: "\2022";
    color: #3CC0DD;
    font-weight:bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
} */



.fondo-w {
    background-color: white;
}

.logotipo {
    width: 50px;
}

.logotitulo {
    width: 50px;
    margin-left: 3vh;
}

/* ----- Header -----*/

.inicio {
    width: 100%;
    height: 550px;
    /* background: linear-gradient(to bottom, #5ac4eeaf, #3df59f93), url(../images/fondo-header.jpg); */
    /* background: linear-gradient(to bottom, #C1DDB5, #87DAF4), url(../images/fondo-header.jpg); */
    background: linear-gradient(to right,#4ab0d99f,#3df59fb2);
    background-attachment: inherit;
    background-position: center ;
    background-size: cover;
    }

    .lema {
        background: rgba(255, 255, 255, 0.808);
    }

/* ---- Main ---- */

main {
    font-size:larger;
}

.sz-im {
    width: 30px;
}


.font-titulo{
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 2px rgba(20, 130, 150, 0.952);
}

    /* .font-titulo>h1 {
        font-size: 5em;
         font-weight: 800;
    } */


    .font-titulo>h2 {
        font-size: 50px;
        font-weight: 300;
    }

    .font-titulo>h3 {
        font-size: 30px;
        font-weight: 400;
    }


    /* background: linear-gradient(to right,#4ad9d9,#d0e05a);
    border-radius: 5rem; */

.font-subtit {
    color: #3CC0DD;
    /* font-size: 50px; */
    font-weight: 700;
}

.font-org {
    color: rgba(20, 130, 150, 0.952);
    font-weight: 700;
}




/* ---- Footer ----  */


footer {
    background: linear-gradient(to right,#4ad9d9,#3df59f93);
    padding-bottom: 0.1px;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 2px rgba(20, 130, 150, 0.952);
    font-size: large;
}
